[Unit]
Description=Kubernetes Scheduler Service

[Service]
Type=simple
ExecStart=/usr/bin/kube-scheduler --master=http://localhost:8080
Restart=on-failure
User=root

[Install]
WantedBy=multi-user.target